@model List<HajjGuide.Models.CommentsModel>
@{
    ViewData["Title"] = "Comments";
}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">


</head>
<body class="img js-fullheight" style="background-image: url('/img/pexels-brokenadmiral-16012748.jpg');height:fit-content;background-repeat:no-repeat;background-position:center;">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Add Comment:</h1>
                            </div>
                            @*  <form class="user" method="post" action="/DuaRequest/Save">
                            <div class="form-group row">
                            <div class="col-sm-6">
                            <label for="name">Prayer:</label>
                            <input type="text" name="Desc" class="form-control form-control-user" placeholder="Enter Prayer">
                            </div>
                            </div>

                            <div class="form-group row">
                            <label for="name">User Name:</label>
                            <input type="text" name="User" class="form-control form-control-user" placeholder="Enter User Name">
                            </div>

                            <div class="form-group row">
                            <label for="StepId">Step Number:</label>
                            <select name="StepId" class="form-control">
                            @foreach (var step in Model)
                            {
                            <option value="@step.Description"> @step.UrduDesc </option>
                            }
                            </select>
                            </div>


                            <button type="submit" class="btn btn-primary btn-user btn-block">Save</button>
                            </form> *@
                            <form class="user" method="post" action="/AddComment/Comment">
                              

                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label for="name">Comment:</label>
                                        <input type="text" name="Desc" class="form-control form-control-user" placeholder="Enter Comment">
                                    </div>
                                </div>
                                @*
                                <div class="form-group row">
                                <label for="name">User Name:</label>
                                <input type="text" name="User" class="form-control form-control-user" placeholder="Enter User Name">
                                </div>
                                *@
                                <div class="form-group row">
                                    <label for="StepId">Select the step:</label>
                                    <select name="StepId" class="form-control">
                                        @foreach (var step in Model)
                                        {
                                            <option value="@step.stepid">@step.desc (@step.UrduDesc) </option>
                                        }
                                    </select>
                                </div>

                                <button type="submit" class="btn btn-primary btn-user btn-block">Save</button>
                            </form>





                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
