@model HajjGuide.Models.MyChecklist
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@{
    ViewData["Title"] = "Checklist";
}

<body class="img js-fullheight" style="background-image: url('/img/pexels-brokenadmiral-16012748.jpg');height:fit-content;background-repeat:no-repeat;background-position:center;background-size:cover;">
    <div class="container-fluid" style="opacity:0.94">
        <div class="row">
            <div class="col-md-12">
                <div class=" card mb-3,no-gutters" role="complementary" data-block="timeline" aria-labelledby="instance-19048-header" style="width:100%;">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                        <a> Things to carry along: </a>
                                    </div>

                                    <form method="post" action="@Url.Action("UpdateChecklist")">
                                        @foreach (var item in Model.chklst)
                                        {
                                            <section class="card mb-3 no-gutters" role="complementary" data-block="timeline" aria-labelledby="instance-19048-header" style="width:100%;">
                                                <div class="card border-left-primary shadow h-100 py-2">
                                                    <div class="card-body">
                                                        <div class="row no-gutters align-items-center">
                                                            <div class="col mr-2">
                                                                <div>
                                                                    <input class="form-check-input" type="checkbox" id="checkbox-@item.checklistid" name="Prayers[@item.checklistid]" value="1" @(item.IsChecked ? "checked" : "")>
                                                                    <input type="hidden" name="HiddenPrayers[@item.checklistid]" value="0" />
                                                                    <a>@item.Description @item.DescriptionUrdu</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        }


                                        <button type="submit" id="submitButton" class="btn btn-primary">Done</button>
                                    </form>


                                    <br>
                                    <br>
                                @*     <form>
                                        @foreach (var item in Model.chkitems)
                                        {
                                   
                                                                <br>
                                                                @if (Model.chkitems.Count != 0)
                                                                {
                                                 

                                                            


                                                                    <section class="card mb-3, no-gutters" role="complementary" data-block="timeline" aria-labelledby="instance-19048-header" style="width: 100%;">
                                                                        <div class="card border-left-primary shadow h-100 py-2">
                                                                            <div class="card-body">
                                                                                <div class="row no-gutters align-items-center">
                                                                                    <div class="col mr-2">
                                                                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                                                            <a style="color: black;"><strong>Items:</strong> @item.items </a>
                                                                                        </div>
                                                                                    </div>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </section>
                                                   
                                                                    <br>


                                                                    <br>




                                                                }

                                                          
                                        }

                                    </form> *@ 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
